
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
</style>

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}


/* fonts */
         /* main-body-part-start */


         /* top-part-start */
     
.body-1{display: flex;
        justify-content:center;
      grid-column-gap: 130px; 
      margin-top: 150px;
    }

    .title{ font-family: 'Poppins', sans-serif;}

 
        body{font-family: 'Poppins', sans-serif;font-weight:500;}

        button{
            background-color: #E02C6D;
            border-radius: 15px;
            padding: 5px 15px;
            color: white;
            margin-left: 5px;
            margin-right: 5px;
            font-weight: 700;

        }
        

        .camera-image{  border: 2px solid #F1E4FF;border-radius: 50%; height: 414px; width: 440px;}


        .left-side-part{margin-top: 100px;}


         /* top-part-end */



         /* second-part-start */

         .company-logo{  display: flex; justify-content:space-evenly;margin-left: 300px ; margin-right: 300px;margin-top:100px;
                            border: 1px solid rgb(228, 225, 225);border-left: 0px;border-right: 0px; padding: 25px 0px;}

         .container.logo{margin-top: 50px;width: 1110px; height: 110px;}

         .image-1{padding-top: 10px;}
         .image-2{padding-top: 20px;}
         .image-3{padding-top: 12px;}
         .image-4{padding-top: 7px;}
         .image-5{padding-top: 15px;}
         .image-6{padding-top: 8px;}
         .image-7{padding-top: 15px;}
         
         /* second-part-end */



         /* thir-part-start */
         .container-product{height:1662px ;width: 1047px;margin-top: 100px;margin:100px auto ;}

         .product{display: grid;
        grid-template-columns: repeat(3,1fr);
         }
         
         .product-1{ width: 329px;height: 476px;margin-bottom: 20px;box-shadow: 1px 1px 1px 1px  gray;}

        .product img{ height: 256px; width: 300px;margin-left: 15px;margin-right: 15px;margin-top: 10px;}
        .product-2{ width: 329px;height: 476px;border: gray 2px solid;margin-bottom: 20px;box-shadow: 1px 1px 1px 1px  gray; }
        .product-3{ width: 329px;height: 476px;border: gray 2px solid;margin-bottom: 20px;box-shadow: 1px 1px 1px 1px  gray;}
        .product-4{ width: 329px;height: 476px;border: gray 2px solid;margin-bottom: 20px;box-shadow: 1px 1px 1px 1px  gray;}
        .product-5{ width: 329px;height: 476px;border: gray 2px solid;margin-bottom: 20px;box-shadow: 1px 1px 1px 1px  gray;}
        .product-6{ width: 329px;height: 476px;border: gray 2px solid;margin-bottom: 20px;box-shadow: 1px 1px 1px 1px  gray;}
        .product-7{ width: 329px;height: 476px;border: gray 2px solid;margin-bottom: 20px;box-shadow: 1px 1px 1px 1px  gray;}
        .product-8{ width: 329px;height: 476px;border: gray 2px solid;margin-bottom: 20px;box-shadow: 1px 1px 1px 1px  gray;}
        .product-9{ width: 329px;height: 476px;border: gray 2px solid;margin-bottom: 20px;box-shadow: 1px 1px 1px 1px  gray;}
        
        .product-descrip{padding-left: 10px;}

        .see-more{padding-left: 950px;color: #E02C6D;}

         /* third-part-end */

         .featured-products{display: flex; width: 1110px; height: 270px; margin:0px auto ;gap: 70px;margin-top: -60px;}

         .featured-image img{ width:404px ;height:270px ;}

         #join{background-color:#E02C6D;border-radius: 0px;padding-left: 23px;padding-right: 23px;}



        /* main-body-part-end */



        /* footer-part-start */
.influ-pro{background-color: #0A0826;color: white;height: 239px;padding-top: 10px; }






     .det{width: 262px;height: 139px; margin: 0px auto;}

   

        /* footer-part-end */



        /* header-start */

.influ-cont{ display: flex;justify-content: space-between;}

.anchor{text-decoration: none;color: black;padding-right: 20px; font-weight: 900;}

.anch-cont{margin-top: 20px;margin-right: 200px;gap: 10px;}

          /* header-end */